*.swp
*.tar.gz
*.nii.gz
*.nii
*.log
*.txt
*.e
*.err
*.out
*.exrc
*.DS_Store
bin/
obj/
test/
external/libs/
external/libs-intel/
results/
environment_vars.sh
*.o
*.nc
scripts/
bingpu/
external/libs-cuda-openmpi/
