*.swp
*.log
*.txt
*.tar.gz
*.nii.gz
*.nii
*.nc
*.e
*.o
*.err
*.out
*.exrc
*.DS_Store
bin/
bingpu/
bindev/
data/
obj/
test/
deps/libs/
deps/libs-intel/
results/
environment_vars.sh
scripts/
bingpu/
*.nvprof
*.slurm
compile
run
lib/
deps/lib
